.outer {
    margin-left: 0 auto;
    margin-right: 0 auto;
}


.panel-heading {
    text-align: center;
    margin-right:  auto;
    margin-left: auto;

}


#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.form-incline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(7, 93, 107);
}

.panel {
    min-height: 380px; 
    box-shadow: 20px 20px 80px rgb(7, 93, 107);
    border-radius: 12px;
    margin-top: 150px;

    
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}